/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
     :root {
          --primary: #FFBA19;
          --primaryShade: #ffd675;
          --primaryDark: #805d0d;
          --bodyText: #1a1a1a;
     }

     /* roboto-regular - latin */
     @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          src: local(''), url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
               /* Chrome 26+, Opera 23+, Firefox 39+ */
               url('../fonts/roboto-v29-latin-regular.woff') format('woff');

          /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     }

     /* roboto-700 - latin */
     @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          src: local(''), url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
               /* Chrome 26+, Opera 23+, Firefox 39+ */
               url('../fonts/roboto-v29-latin-700.woff') format('woff');

          /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     }

     /* roboto-900 - latin */
     @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 900;
          src: local(''), url('../fonts/roboto-v29-latin-900.woff2') format('woff2'),
               /* Chrome 26+, Opera 23+, Firefox 39+ */
               url('../fonts/roboto-v29-latin-900.woff') format('woff');

          /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     }

     body,
     html {
          margin: 0;
          padding: 0;
          font-size: 100%;
          font-family: 'Roboto', Arial, sans-serif;
          color: var(--bodyText);
          overflow-x: hidden;
     }

     *,
     *:before,
     *:after {
          margin: 0;
          padding: 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
     }

     body {
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
     }

     .container {
          position: relative;
          width: 92%;
          margin: auto;
     }

     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
          margin: 0;
          color: #1a1a1a;
     }

     /*p,
     li,
     a {
          font-size: 1.125em;
          line-height: 1.5em;
          margin: 0;
     }

     p,
     li {
          color: #575757;
     }

     a:hover,
     button:hover {
          cursor: pointer;
     }

     .button-solid {
          font-size: 0.875em;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          width: auto;
          line-height: 3.57142857em;
          height: 3.57142857em;
          text-align: center;
          padding: 0 2.14285714em;
          position: relative;
          z-index: 1;
          background-color: var(--primary);
          color: #000;
          -webkit-transition: color .3s;
          transition: color .3s;
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
     }

     .button-solid:hover {
          color: #fff;
     }

     .button-solid:hover:before {
          width: 100%;
     }

     .button-solid:before {
          content: '';
          position: absolute;
          display: block;
          height: 100%;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          background-color: #000;
          width: 0;
          -webkit-transition: width .3s;
          transition: width .3s;
     }

     .skip {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: -1111111;
     }*/
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {

     body,
     html {
          padding: 0;
          margin: 0;
     }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {

     body,
     html {
          font-size: .85vw;
     }
}

/*-- -------------------------- -->
<---         Navigation         -->
<--- -------------------------- -*/
/* Mobile - Top Drop Down */
@media only screen and (max-width: 1023px) {}

/* Desktop */
@media only screen and (min-width: 64em) {

     .navBar {
          background-color: #252525;
          overflow: hidden;
     }

     #linkContainer,
     a.websiteName {
          font-size: 50px;
          margin-left: 140px;
          float: left;
     }

     #linkContainer,
     li {
          display: inline;
     }

     #linkContainer,
     a {
          color: #D4D4D4;
          padding: 20px 40px;
          font-size: 25px;
          text-decoration: none;
          /*background-color: #705e33;*/
     }

     #linkContainer,
     a.split {
          float: right;
          margin: 15px 2px;
          /*background-color: rgb(62, 122, 1);*/
     }

     #linkContainer,
     a.spaceRight {
          margin-right: 140px;
     }
}

/* Dark Mode Mobile */
@media only screen and (max-width: 1023px) {}

/* Dark Mode Desktop */
@media only screen and (min-width: 1024px) {}